<app-user-nav-bar></app-user-nav-bar>
<div class="p-4">
    <h4>My Documents</h4>

    <form>
        <div>
            <label><strong>Visa</strong></label><br>
            <input [(ngModel)]="visaFile" [ngModelOptions]="{standalone: true}" size="30" disabled>
            <button (click)="downloadVisa()">Download</button><br>
            <div *ngIf="canUpload">
                <input type="file" class="file-upload" (change)="selectVisaFile($event)"><br>
                <button (click)="uploadVisa()" class="btn btn-primary btn-sm">Upload</button>
            </div>

        </div>
        <div>
            <label><strong>Driver License</strong></label><br>
            <input [(ngModel)]="driverFile" [ngModelOptions]="{standalone: true}" size="30" disabled>
            <button (click)="downloadDriver()">Download</button><br>
            <div *ngIf="canUpload">
                <input type="file" class="file-upload" (change)="selectDriverFile($event)"><br>
                <button (click)="uploadDriver()" class="btn btn-primary btn-sm">Upload</button>
            </div>
        </div>
        <div>
            <label><strong>Signed Contract</strong></label><br>
            <input [(ngModel)]="contractFile" [ngModelOptions]="{standalone: true}" size="30" disabled>
            <button (click)="downloadContract()">Download</button><br>
            <div *ngIf="canUpload">
                <input type="file" class="file-upload" (change)="selectContractFile($event)"><br>
                <button (click)="uploadContract()" class="btn btn-primary btn-sm">Upload</button>
            </div>
        </div>
        <div>
            <label><strong>Signed Tax Agreement</strong></label><br>
            <input [(ngModel)]="taxFile" [ngModelOptions]="{standalone: true}" size="30" disabled>
            <button (click)="downloadTax()">Download</button><br>
            <div *ngIf="canUpload">
                <input type="file" class="file-upload" (change)="selectTaxFile($event)"><br>
                <button (click)="uploadTax()" class="btn btn-primary btn-sm">Upload</button>
            </div>
        </div>
    </form>
</div>