<div *ngIf="isLoaded == true">

    <h2>Forms</h2>

    <!-- Reactive Forms -->
    <!-- Bind formGroup to form and formControlName to controls in Reactive Forms -->
    <form [formGroup]="fBuilder">
        <h3>Personal Information</h3>
        <div>
            <label><strong>First Name</strong></label>
            <input type="text" placeholder="First Name" formControlName="first_name">
        </div>
        <div>
            <label><strong>Middle Name</strong></label>
            <input type="text" placeholder="Middle Name" formControlName="middle_name">
        </div>
        <div>
            <label><strong>Last Name</strong></label>
            <input type="text" placeholder="Last Name" formControlName="last_name">
        </div>
        <div>
            <label><strong>Preferred Name</strong></label>
            <input type="text" placeholder="Preferred Name" formControlName="preferred_name">
        </div>
        <div>
            <label><strong>SSN</strong></label>
            <input type="text" placeholder="***-**-****" formControlName="ssn">
        </div>
        <div>
            <label><strong>Date of Birth</strong></label>
            <input type="text" placeholder="YYYY-MM-DD" formControlName="dob">
        </div>
        <div>
            <label><strong>Gender</strong></label>
            <input id="male-option" type="radio" value="male" formControlName="gender">
            <label>Male</label>

            <input id="female-option" type="radio" value="female" formControlName="gender">
            <label>Female</label>

            <input id="other-option" type="radio" value="other" formControlName="gender">
            <label>I do not wish to answer</label>
        </div>
        <div>
            <label><strong>Are you a citizen or permanent resident of the U.S?</strong></label>
            <div *ngFor="let option of citizen_options; let n = index;">
                <label>
                    <input value="{{option.name}}" type="radio" formControlName="is_citizen"
                        (change)="onOptionChange(n)">
                    {{option.name}}
                </label>
            </div>

            <div *ngIf="yes_no == 0">
                <strong>Status</strong>
                <input type="radio" value="Green Card" formControlName="visa_title">
                <label>Green Card</label>
                <input type="radio" value="Citizen" formControlName="visa_title">
                <label>Citizen</label>
            </div>
            <div *ngIf="yes_no == 1">
                <strong>Status</strong>
                <div *ngFor="let visa of visas; let i = index;">
                    <label>
                        <input value="{{visa.name}}" type="radio" formControlName="visa_title"
                            (change)="onItemChange(i)">
                        {{visa.name}}
                    </label>
                </div>
                <div *ngIf="isVisible == 4">
                    <input type="text">
                </div>

                <div>
                    <label><strong>Start Date</strong></label>
                    <input type="text" placeholder="YYYY-MM-DD" formControlName="start_date">
                </div>
                <div>
                    <label><strong>End Date</strong></label>
                    <input type="text" placeholder="YYYY-MM-DD" formControlName="end_date">
                </div>
            </div>
            <input type="file" class="file-upload" (change)="selectVisaFile($event)">

        </div>

        <h3>Address</h3>
        <div>
            <label><strong>Street</strong></label>
            <input type="text" placeholder="Street" formControlName="street">
        </div>
        <div>
            <label><strong>Building/Apt#</strong></label>
            <input type="text" placeholder="Building/Apt#" formControlName="apt">
        </div>
        <div>
            <label><strong>City</strong></label>
            <input type="text" placeholder="City" formControlName="city">
        </div>
        <div>
            <label><strong>State</strong></label>
            <input type="text" placeholder="State" formControlName="state">
        </div>
        <div>
            <label><strong>Zipcode</strong></label>
            <input type="text" placeholder="Zipcode" formControlName="zipcode">
        </div>
        <div>
            <label><strong>CellPhone</strong></label>
            <input type="text" placeholder="Cellphone" formControlName="cellphone">
        </div>
        <div>
            <label><strong>WorkPhone</strong></label>
            <input type="text" placeholder="Workphone" formControlName="workphone">
        </div>

        <h3>Do you have a driver's license</h3>
        <div>
            <input name="driver-lic" [(ngModel)]="driver_option" type="radio" [ngModelOptions]="{standalone: true}"
                value="Yes">Yes
            <input name="driver-lic" [(ngModel)]="driver_option" type="radio" [ngModelOptions]="{standalone: true}"
                value="No">No
        </div>

        <div *ngIf="driver_option == 'Yes'">
            <label><strong>Driver License Number</strong></label>
            <input type="text" placeholder="Driver License Number" formControlName="driver_lic_num">
            <input type="file" class="file-upload" (change)="selectDriverFile($event)">
        </div>

        <h3>Reference</h3>
        <div>
            <label><strong>First Name</strong></label>
            <input type="text" placeholder="First Name" formControlName="ref_first_name">
        </div>
        <div>
            <label><strong>Middle Name</strong></label>
            <input type="text" placeholder="Middle Name" formControlName="ref_middle_name">
        </div>
        <div>
            <label><strong>Last Name</strong></label>
            <input type="text" placeholder="Last Name" formControlName="ref_last_name">
        </div>
        <div>
            <label><strong>Phone</strong></label>
            <input type="text" placeholder="Phone" formControlName="ref_phone">
        </div>
        <div>
            <label><strong>Email</strong></label>
            <input type="text" placeholder="Email" formControlName="ref_email">
        </div>
        <div>
            <label><strong>Relationship</strong></label>
            <input type="text" placeholder="Relationship" formControlName="ref_relationship">
        </div>

        <h3>Emergency Contact</h3>
        <div>
            <label><strong>First Name</strong></label>
            <input type="text" placeholder="First Name" formControlName="emerg_first_name">
        </div>
        <div>
            <label><strong>Middle Name</strong></label>
            <input type="text" placeholder="Middle Name" formControlName="emerg_middle_name">
        </div>
        <div>
            <label><strong>Last Name</strong></label>
            <input type="text" placeholder="Last Name" formControlName="emerg_last_name">
        </div>
        <div>
            <label><strong>Phone</strong></label>
            <input type="text" placeholder="Phone" formControlName="emerg_phone">
        </div>
        <div>
            <label><strong>Email</strong></label>
            <input type="text" placeholder="Email" formControlName="emerg_email">
        </div>
        <div>
            <label><strong>Relationship</strong></label>
            <input type="text" placeholder="Relationship" formControlName="emerg_relationship">
        </div>

        <h3>Required Documents</h3>
        <div>
            <label><strong>Contract</strong></label><br>
            <input [(ngModel)]="contractFile" [ngModelOptions]="{standalone: true}" size="30" disabled>
            <button (click)="downloadContract()">Download</button>
        </div>
        <div>
            <label><strong>Tax</strong></label><br>
            <input [(ngModel)]="taxFile" [ngModelOptions]="{standalone: true}" size="30" disabled>
            <button (click)="downloadTax()">Download</button>
        </div>
        <div>
            <label><strong>Upload Signed Contract</strong></label><br>
            <input type="file" class="file-upload" (change)="selectContractFile($event)">
        </div>
        <div>
            <label><strong>Upload Signed Tax Agreement</strong></label><br>
            <input type="file" class="file-upload" (change)="selectTaxFile($event)">
        </div>

        <br>
        <button (click)="onClick()">Submit</button>
    </form>

</div>