<!-- <div *ngIf="application == 'never submitted'"> -->
<!-- <app-application-form></app-application-form> -->
<!-- <a href="" routerLink="/application">Navigate to Comp1</a> -->
<!-- </div> -->

<div *ngIf="application == 'pending'">
    <app-user-nav-bar></app-user-nav-bar>
    <h4>Please wait for HR to review your application</h4>
</div>

<div *ngIf="application == 'approved' || application == 'rejected'">
    <app-user-nav-bar></app-user-nav-bar>
    <div class="p-5">
        Your application status:
        <h5 class="mb-3 text-primary"> {{application}} </h5>
        {{comment}}

    </div>
</div>

<!-- <router-outlet></router-outlet> -->