<!-- <div *ngIf="application == 'never submitted'"> -->
<!-- <app-application-form></app-application-form> -->
<!-- <a href="" routerLink="/application">Navigate to Comp1</a> -->
<!-- </div> -->

<div *ngIf="application == 'pending'">
    <div class="topnav">
        <a routerLink="/user-doc-list">Documents</a>
    </div>
    <h4>Please wait for HR to review your application</h4>
</div>

<div *ngIf="application == 'approved'">
    <app-user-nav-bar></app-user-nav-bar>
</div>

<!-- <router-outlet></router-outlet> -->