<app-user-nav-bar></app-user-nav-bar>
<h2 class="mb-3 text-primary text-center">My Profile</h2>

<div class="row p-4">
    <div class="col-sm-6 offset-sm-3">
        <form [formGroup]="fBuilder">
            <h4>Personal Information</h4>
            <div>
                <label><strong>First Name</strong></label>
                <input type="text" formControlName="first_name" disabled class="form-control">
            </div>
            <div>
                <label><strong>Middle Name</strong></label>
                <input type="text" formControlName="middle_name" disabled="" class="form-control">
            </div>
            <div>
                <label><strong>Last Name</strong></label>
                <input type="text" formControlName="last_name" disabled="" class="form-control">
            </div>
            <div>
                <label><strong>Preferred Name</strong></label>
                <input type="text" formControlName="preferred_name" disabled="" class="form-control">
            </div>
            <div>
                <label><strong>Date of Birth</strong></label>
                <input type="text" formControlName="dob" disabled="" class="form-control">
            </div>
            <div>
                <label><strong>Gender</strong></label>
                <input id="male-option" value="male" formControlName="gender" class="form-control">
            </div>

            <h4>Address</h4>
            <div>
                <label><strong>Street</strong></label>
                <input type="text" formControlName="street" class="form-control">
            </div>
            <div>
                <label><strong>Building/Apt#</strong></label>
                <input type="text" formControlName="apt" class="form-control">
            </div>
            <div>
                <label><strong>City</strong></label>
                <input type="text" formControlName="city" class="form-control">
            </div>
            <div>
                <label><strong>State</strong></label>
                <input type="text" formControlName="state" class="form-control">
            </div>
            <div>
                <label><strong>Zipcode</strong></label>
                <input type="text" formControlName="zipcode" class="form-control">
            </div>
            <div>
                <label><strong>CellPhone</strong></label>
                <input type="text" formControlName="cellphone" class="form-control">
            </div>
            <div>
                <label><strong>WorkPhone</strong></label>
                <input type="text" formControlName="workphone" class="form-control">
            </div>
            <div>
                <label><strong>Driver License #</strong></label>
                <input type="text" formControlName="driver_lic_num" class="form-control">
            </div>

        </form>
    </div>
</div>